@charset "UTF-8";
*{
	margin: 0 auto;
}
body{
	margin: 0 auto;
	width: 80%;
}
a:visited, a:link, a:active{
	text-decoration:none;
	color:#333333;
}
a:hover{
	font-weight: bold;
	text-decoration:none;
} 
