@charset "UTF-8";

/* reset */
*{margin:0;padding:0; -webkit-text-size-adjust: none;  -moz-text-size-adjust: none;  -ms-text-size-adjust: none;}
html, body {width:100%; height:100%; margin:0; padding:0; font-family: 'Noto Sans Korean','Nanum Gothic','나눔고딕', Dotum, '돋움', Gulim, '굴림',sans-serif; -webkit-text-size-adjust: none;  -moz-text-size-adjust: none;  -ms-text-size-adjust: none; }
body{font-size:12px;  word-break:break-all;-ms-word-break:break-all;}
a, address, blockquote, br, fieldset, legend, label, form, input, select, textarea, button, table, th, td caption, cite, code, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, div, iframe, ul, ol, li, hr, img{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {font-size:12px; text-align:left;}
ul, ol, li {list-style:none;}
abbr,acronym {border:0;}
img{vertical-align:middle; border:none;}
img, fieldset, iframe{border:none;}
em, address{font-style:normal;}
textarea{overflow:auto;}
table{border-collapse:collapse; border-spacing:0;}
input, select, textarea{font-size:100%; vertical-align:middle;}


/* hyper link */
a,
a:link,
a:visited{text-decoration:none;}
a:active,
a:hover{text-decoration:none;}

.title_top1 {
	margin-top: -5px;
}

/* hidden content */
.skip{font-size: 1px; height: 1px; line-height: 1px; overflow: hidden; position: absolute; text-indent: 4px; white-space: nowrap; width: 1px;}

/* hr , legend , caption */
hr, legend, caption{clear:both; display:none; list-style:none; position:absolute; top:0; left:0; width:0; height:0; margin:0; padding:0; border:0; background:none; font-size:0px; line-height:0; visibility:hidden;}

/* fix */
.fix{
	*zoom:1;}
.fix:after{content:""; clear:both; display:block;}

/* lang exchange */
.en{ime-mode:disabled;}
.kr{ime-mode:active;}

/* cursor */
.hand{cursor:pointer;}

/* txt_align */
.center{text-align:center !important;}
.left{text-align:left !important;}
.right{text-align:right !important;}
.justify{text-align:justify !important;}

/* margin */
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}
.mt55{margin-top:55px !important;}
.mt60{margin-top:60px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}
.mb55{margin-bottom:55px !important;}
.mb60{margin-bottom:60px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}
.ml35{margin-left:35px !important;}
.ml40{margin-left:40px !important;}
.ml45{margin-left:45px !important;}
.ml50{margin-left:50px !important;}
.ml55{margin-left:55px !important;}
.ml60{margin-left:60px !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr30{margin-right:30px !important;}
.mr35{margin-right:35px !important;}
.mr40{margin-right:40px !important;}
.mr45{margin-right:45px !important;}
.mr50{margin-right:50px !important;}
.mr55{margin-right:55px !important;}
.mr60{margin-right:60px !important;}
.mb0{margin-bottom:0 !important;}
.mt0{margin-top:0 !important;}
.ml0{margin-left:0 !important;}
.mr0{margin-right:0 !important;}

/* padding */
.pb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}
.pb35{padding-bottom:35px !important;}
.pb40{padding-bottom:40px !important;}
.pb45{padding-bottom:45px !important;}
.pb50{padding-bottom:50px !important;}
.pb55{padding-bottom:55px !important;}
.pb60{padding-bottom:60px !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt25{padding-top:25px !important;}
.pt30{padding-top:30px !important;}
.pt35{padding-top:35px !important;}
.pt40{padding-top:40px !important;}
.pt45{padding-top:45px !important;}
.pt50{padding-top:50px !important;}
.pt55{padding-top:55px !important;}
.pt60{padding-top:60px !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;}
.pl35{padding-left:35px !important;}
.pl40{padding-left:40px !important;}
.pl45{padding-left:45px !important;}
.pl50{padding-left:50px !important;}
.pl55{padding-left:55px !important;}
.pl60{padding-left:60px !important;}
.pr5{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr25{padding-right:25px !important;}
.pr30{padding-right:30px !important;}
.pr35{padding-right:35px !important;}
.pr40{padding-right:40px !important;}
.pr45{padding-right:45px !important;}
.pr50{padding-right:50px !important;}
.pr55{padding-right:55px !important;}
.pr60{padding-right:60px !important;}
.pr0{padding-right:0 !important;}
.pl0{padding-left:0 !important;}
.pt0{padding-top:0 !important;}
.pb0{padding-bottom:0 !important;}

/* display */
.block{display:block !important;}
.inline_block{display:inline-block !important; *zoom:1; *display:inline;}
.inline{display:inline !important;}

/* float */
.f_left{float:left !important;}
.f_right{float:right !important;}
.clear{clear:both !important;}

/* font */
.f_bold{font-weight:bold !important;}
.f_normal{font-weight:normal !important;}

/* html5 */
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary {display:block;}

/* scrollbar */
::-webkit-scrollbar {width: 13px; height: 8px;}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: #585858; display:none;}
::-webkit-scrollbar-track {background: #585858; -webkit-border-radius: 0px; border-radius:0px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2);  border:1px solid #0a85c8; }
::-webkit-scrollbar-thumb {height: 50px; width: 5px; background: #d7d6d4; -webkit-border-radius: 0px; border-radius: 0px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1); border:1px solid #003271;}

/* width */
.wd10{width:10px !important;}
.wd15{width:15px !important;}
.wd20{width:20px !important;}
.wd25{width:25px !important;}
.wd30{width:30px !important;}
.wd35{width:35px !important;}
.wd40{width:40px !important;}
.wd45{width:45px !important;}
.wd50{width:50px !important;}
.wd55{width:55px !important;}
.wd60{width:60px !important;}
.wd65{width:65px !important;}
.wd70{width:70px !important;}
.wd75{width:75px !important;}
.wd80{width:80px !important;}
.wd85{width:85px !important;}
.wd90{width:90px !important;}
.wd95{width:95px !important;}
.wd100{width:100px !important;}
.wd110{width:110px !important;}
.wd120{width:120px !important;}
.wd130{width:130px !important;}
.wd140{width:140px !important;}
.wd150{width:150px !important;}
.wd160{width:160px !important;}
.wd170{width:170px !important;}
.wd180{width:180px !important;}
.wd190{width:190px !important;}
.wd200{width:200px !important;}
.wd210{width:210px !important;}
.wd220{width:220px !important;}
.wd230{width:230px !important;}
.wd240{width:240px !important;}
.wd250{width:250px !important;}
.wd260{width:260px !important;}
.wd270{width:270px !important;}
.wd280{width:280px !important;}
.wd290{width:290px !important;}
.wd300{width:300px !important;}
.wd310{width:310px !important;}
.wd320{width:320px !important;}
.wd330{width:330px !important;}
.wd340{width:340px !important;}
.wd350{width:350px !important;}
.wd360{width:360px !important;}
.wd370{width:370px !important;}
.wd380{width:380px !important;}
.wd390{width:390px !important;}
.wd400{width:400px !important;}
.wd410{width:410px !important;}
.wd420{width:420px !important;}
.wd430{width:430px !important;}
.wd440{width:440px !important;}
.wd450{width:450px !important;}
.wd460{width:460px !important;}
.wd470{width:470px !important;}
.wd480{width:480px !important;}
.wd490{width:490px !important;}
.wd500{width:500px !important;}
.wd510{width:510px !important;}
.wd520{width:520px !important;}
.wd530{width:530px !important;}
.wd540{width:540px !important;}
.wd550{width:550px !important;}
.wd560{width:560px !important;}
.wd570{width:570px !important;}
.wd580{width:580px !important;}
.wd590{width:590px !important;}
.wd600{width:600px !important;}
.wd610{width:610px !important;}
.wd620{width:620px !important;}
.wd630{width:630px !important;}
.wd640{width:640px !important;}
.wd650{width:650px !important;}
.wd660{width:660px !important;}
.wd670{width:670px !important;}
.wd680{width:680px !important;}
.wd690{width:690px !important;}
.wd700{width:700px !important;}
.wd710{width:710px !important;}
.wd720{width:720px !important;}
.wd730{width:730px !important;}
.wd740{width:740px !important;}
.wd750{width:750px !important;}
.wd760{width:760px !important;}
.wd770{width:770px !important;}
.wd780{width:780px !important;}
.wd790{width:790px !important;}
.wd800{width:800px !important;}
.wd810{width:810px !important;}
.wd820{width:820px !important;}
.wd830{width:830px !important;}
.wd840{width:840px !important;}
.wd850{width:850px !important;}
.wd860{width:860px !important;}
.wd870{width:870px !important;}
.wd880{width:880px !important;}
.wd890{width:890px !important;}
.wd898{width:898px !important;}
.wd900{width:900px !important;}
.wd910{width:910px !important;}
.wd920{width:920px !important;}
.wd930{width:930px !important;}
.wd940{width:940px !important;}
.wd950{width:950px !important;}
.wd960{width:960px !important;}
.wd970{width:970px !important;}
.wd980{width:980px !important;}
.wd990{width:990px !important;}
.wd1000{width:1000px !important;}
.wd1100{width:1100px !important;}
.wd1200{width:1200px !important;}
.wd1300{width:1300px !important;}
.wd1400{width:1400px !important;}
.wd1500{width:1500px !important;}
.wd1600{width:1600px !important;}

/* height */
.ht10{height:10px !important;}
.ht15{height:15px !important;}
.ht20{height:20px !important;}
.ht25{height:25px !important;}
.ht30{height:30px !important;}
.ht35{height:35px !important;}
.ht40{height:40px !important;}
.ht45{height:45px !important;}
.ht50{height:50px !important;}
.ht55{height:55px !important;}
.ht60{height:60px !important;}
.ht65{height:65px !important;}
.ht70{height:70px !important;}
.ht75{height:75px !important;}
.ht80{height:80px !important;}
.ht85{height:85px !important;}
.ht90{height:90px !important;}
.ht95{height:95px !important;}
.ht100{height:100px !important;}
.ht110{height:110px !important;}
.ht120{height:120px !important;}
.ht130{height:130px !important;}
.ht140{height:140px !important;}
.ht150{height:150px !important;}
.ht160{height:160px !important;}
.ht170{height:170px !important;}
.ht180{height:180px !important;}
.ht190{height:190px !important;}
.ht200{height:200px !important;}
.ht210{height:210px !important;}
.ht220{height:220px !important;}
.ht230{height:230px !important;}
.ht240{height:240px !important;}
.ht250{height:250px !important;}
.ht260{height:260px !important;}
.ht270{height:270px !important;}
.ht280{height:280px !important;}
.ht290{height:290px !important;}
.ht300{height:300px !important;}
.ht310{height:310px !important;}
.ht320{height:320px !important;}
.ht330{height:330px !important;}
.ht340{height:340px !important;}
.ht350{height:350px !important;}
.ht360{height:360px !important;}
.ht370{height:370px !important;}
.ht380{height:380px !important;}
.ht390{height:390px !important;}
.ht400{height:400px !important;}
.ht410{height:410px !important;}
.ht420{height:420px !important;}
.ht430{height:430px !important;}
.ht440{height:440px !important;}
.ht450{height:450px !important;}
.ht460{height:460px !important;}
.ht470{height:470px !important;}
.ht480{height:480px !important;}
.ht490{height:490px !important;}
.ht500{height:500px !important;}
.ht510{height:510px !important;}
.ht520{height:520px !important;}
.ht530{height:530px !important;}
.ht540{height:540px !important;}
.ht550{height:550px !important;}
.ht560{height:560px !important;}
.ht570{height:570px !important;}
.ht580{height:580px !important;}
.ht590{height:590px !important;}
.ht600{height:600px !important;}
.ht610{height:610px !important;}
.ht620{height:620px !important;}
.ht630{height:630px !important;}
.ht640{height:640px !important;}
.ht650{height:650px !important;}
.ht660{height:660px !important;}
.ht670{height:670px !important;}
.ht680{height:680px !important;}
.ht690{height:690px !important;}
.ht700{height:700px !important;}
.ht710{height:710px !important;}
.ht720{height:720px !important;}
.ht730{height:730px !important;}
.ht740{height:740px !important;}
.ht750{height:750px !important;}
.ht760{height:760px !important;}
.ht770{height:770px !important;}
.ht780{height:780px !important;}
.ht790{height:790px !important;}
.ht800{height:800px !important;}
.ht810{height:810px !important;}
.ht820{height:820px !important;}
.ht830{height:830px !important;}
.ht840{height:840px !important;}
.ht850{height:850px !important;}
.ht860{height:860px !important;}
.ht870{height:870px !important;}
.ht880{height:880px !important;}
.ht890{height:890px !important;}
.ht900{height:900px !important;}
.ht910{height:110px !important;}
.ht920{height:120px !important;}
.ht930{height:130px !important;}
.ht940{height:140px !important;}
.ht950{height:150px !important;}
.ht960{height:160px !important;}
.ht970{height:170px !important;}
.ht980{height:180px !important;}
.ht990{height:190px !important;}
.ht1000{height:1000px !important;}
.ht1100{height:1100px !important;}
.ht1200{height:1200px !important;}
.ht1300{height:1300px !important;}
.ht1400{height:1400px !important;}
.ht1500{height:1500px !important;}
.ht1600{height:1600px !important;}

.top10{top:10px !important;}
.top20{top:20px !important;}
.top30{top:30px !important;}
.top40{top:40px !important;}
.top50{top:50px !important;}

.bottom10{bottom:10px !important;}
.bottom20{bottom:20px !important;}
.bottom30{bottom:30px !important;}
.bottom40{bottom:40px !important;}
.bottom50{bottom:50px !important;}

.left10{left:10px !important;}
.left20{left:20px !important;}
.left30{left:30px !important;}
.left40{left:40px !important;}
.left50{left:50px !important;}

.right10{right:10px !important;}
.right20{right:20px !important;}
.right30{right:30px !important;}
.right40{right:40px !important;}
.right50{right:50px !important;}

.underLine{text-decoration:underline !important;}

.vTop{vertical-align:top !important;}
.vMid{vertical-align:middle !important;}
.vBot{vertical-align:bottom !important;}
.posR{position:relative !important;}
.posA{position:absolute !important;}
.posS{position:static !important;}
.posF{position:fixed !important;}

.flo_x{*zoom:1;}
.flo_x:after{content:""; display:block; clear:both;}

/* border */
.bd0, .bdx{border:0 !important;}
.bdr0, .bdrx{border-right:0 !important;}
.bdl0, .bdlx{border-left:0 !important;}
.bdt0, .bdtx{border-top:0 !important;}
.bdb0, .bdbx{border-bottom:0 !important;}

/* background */
.bg0, .bgx{background:none !important;}