@charset "UTF-8";

/*-------------------------------------------------
Content Style Sheet
Version : 1.0
Author : sang ki lee
Last update : 2019. 08. 09.
-------------------------------------------------*//* 
*/

/* 버튼 스타일 -  */
[class^="btn_ty"]{display:inline-block; zoom:1; *display:inline; vertical-align:middle; text-align:center !important; box-sizing:border-box; height:22px !important; line-height:22px !important;}
.btn_ty0{padding:0px 10px; min-width:70px; background:#ffffff; border:1px solid #bebebe; border-radius:15px; font-size:13px !important; font-weight:400 !important; color:#666 !important; text-decoration:none !important; margin: 1px;}
.btn_ty1{padding:0px 10px; min-width:70px; background:#f44336; border:1px solid #f44336; border-radius:15px; font-size:13px !important; font-weight:400 !important; color:#fff !important; text-decoration:none !important; margin: 1px;}
.btn_ty2{padding:0px 10px; min-width:70px; background:#ff9800; border:1px solid #ff9800; border-radius:15px; font-size:13px !important; font-weight:400 !important; color:#fff !important; text-decoration:none !important; margin: 1px;}
.btn_ty3{padding:0px 10px; min-width:70px; background:#4caf50; border:1px solid #4caf50; border-radius:15px; font-size:13px !important; font-weight:400 !important; color:#fff !important; text-decoration:none !important; margin: 1px;}
.btn_ty4{padding:0px 10px; min-width:70px; background:#0a85c8; border:1px solid #0a85c8; border-radius:15px; font-size:13px !important; font-weight:400 !important; color:#fff !important; text-decoration:none !important; margin: 1px;}
.btn_ty5{padding:0px 10px; min-width:70px; background:#9e9e9e; border:1px solid #9e9e9e; border-radius:15px; font-size:13px !important; font-weight:400 !important; color:#fff !important; text-decoration:none !important; margin: 1px;}
.btn_ty6{padding:0px 10px; min-width:70px; background:#ee781f; border:1px solid #ee781f; border-radius:15px; font-size:13px !important; font-weight:400 !important; color:#fff !important; text-decoration:none !important; margin: 1px;}
.btn_ty7{padding:0px 10px; min-width:70px; background:#44c0c1; border:1px solid #44c0c1; border-radius:15px; font-size:13px !important; font-weight:400 !important; color:#fff !important; text-decoration:none !important; margin: 1px;}
.btn_ty8{padding:0px 10px; min-width:70px; background:#fbbb12; border:1px solid #fbbb12; border-radius:15px; font-size:13px !important; font-weight:400 !important; color:#fff !important; text-decoration:none !important; margin: 1px;}

[class^="btn1_ty"]{position:relative; display:inline-block; zoom:1; *display:inline; height:32px !important; background:url(../../images/sub_common/ico_btn_ty1.png) no-repeat right 55%; border-radius:15px; vertical-align:middle; text-align:left !important; box-sizing:border-box;}
.btn1_ty0{padding:5px 50px 5px 20px; background-color:#ffffff; border:1px solid #bebebe; font-weight:400 !important; color:#666 !important; text-decoration:none !important; }
.btn1_ty1{padding:5px 50px 5px 20px; background-color:#f44336; border:1px solid #f44336; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn1_ty2{padding:5px 50px 5px 20px; background-color:#ff9800; border:1px solid #ff9800; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn1_ty3{padding:5px 50px 5px 20px; background-color:#4caf50; border:1px solid #4caf50; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn1_ty4{padding:5px 50px 5px 20px; background-color:#0a85c8; border:1px solid #0a85c8; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn1_ty5{padding:5px 50px 5px 20px; background-color:#9e9e9e; border:1px solid #9e9e9e; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn1_ty6{padding:5px 50px 5px 20px; background-color:#ee781f; border:1px solid #ee781f; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn1_ty7{padding:5px 50px 5px 20px; background-color:#44c0c1; border:1px solid #44c0c1; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn1_ty8{padding:5px 50px 5px 20px; background-color:#fbbb12; border:1px solid #fbbb12; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }

[class^="btn2_ty"]{display:inline-block; zoom:1; *display:inline; vertical-align:middle; text-align:center !important; box-sizing:border-box; height:30px !important; line-height:30px !important; border:0 !important;}
.btn2_ty0{padding:0px 10px; min-width:90px; background:#ffffff; font-weight:400 !important; color:#666 !important; text-decoration:none !important; }
.btn2_ty1{padding:0px 10px; min-width:90px; background:#f44336; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn2_ty2{padding:0px 10px; min-width:90px; background:#ff9800; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn2_ty3{padding:0px 10px; min-width:90px; background:#4caf50; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn2_ty4{padding:0px 10px; min-width:90px; background:#0a85c8; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn2_ty5{padding:0px 10px; min-width:90px; background:#9e9e9e; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn2_ty6{padding:0px 10px; min-width:90px; background:#ee781f; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn2_ty7{padding:0px 10px; min-width:90px; background:#44c0c1; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn2_ty8{padding:0px 10px; min-width:90px; background:#fbbb12; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }

[class^="btn3_ty"]{display:inline-block; zoom:1; *display:inline; vertical-align:middle; text-align:center !important; box-sizing:border-box; height:25px !important; line-height:25px !important; border-radius:3px; cursor:pointer;}
.btn3_ty0{padding:0px 0px; min-width:90px; background:#fff; border:1px solid #bebebe; font-weight:400 !important; color:#666 !important; text-decoration:none !important; }
.btn3_ty1{padding:0px 0px; min-width:90px; background:#f44336; border:1px solid #f44336; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn3_ty2{padding:0px 0px; min-width:90px; background:#ff9800; border:1px solid #ff9800; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn3_ty3{padding:0px 0px; min-width:90px; background:#4caf50; border:1px solid #4caf50; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn3_ty4{padding:0px 0px; min-width:90px; background:#0a85c8; border:1px solid #0a85c8; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn3_ty5{padding:0px 0px; min-width:90px; background:#9e9e9e; border:1px solid #9e9e9e; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn3_ty6{padding:0px 0px; min-width:90px; background:#ee781f; border:1px solid #ee781f; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn3_ty7{padding:0px 0px; min-width:90px; background:#44c0c1; border:1px solid #44c0c1; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }
.btn3_ty8{padding:0px 0px; min-width:90px; background:#fbbb12; border:1px solid #fbbb12; font-weight:400 !important; color:#fff !important; text-decoration:none !important; }

[class^="btn_val_ty"]{display:inline-block; zoom:1; *display:inline; height:32px !important; background:url(../../images/sub_common/ico_btn_val1.png) no-repeat right center; border:0; border-radius:5px; vertical-align:middle; text-align:left !important; box-sizing:border-box; line-height:32px;}
.btn_val_ty1{padding:0px 37px 0px 10px; min-width:70px; background-color:#a1abb5; font-size:13px; font-weight:400; color:#fff; }

/* 레이블 */
em.c_red{background:#f44336; display:inline-block; width:15px; height:15px; border-radius:60px; vertical-align:-3px;}
em.c_yellow{background:#ff9800; display:inline-block; width:15px; height:15px; border-radius:60px; vertical-align:-3px;}
em.c_green{background:#4caf50; display:inline-block; width:15px; height:15px; border-radius:60px; vertical-align:-3px;}
em.c_gray{background:#9e9e9e; display:inline-block; width:15px; height:15px; border-radius:60px; vertical-align:-3px;}
em.c_blue{background:#0a85c8; display:inline-block; width:15px; height:15px; border-radius:60px; vertical-align:-3px;}
em.c_mint{background:#009688; display:inline-block; width:15px; height:15px; border-radius:60px; vertical-align:-3px;}
em.c_purple{background:#84346d; display:inline-block; width:15px; height:15px; border-radius:60px; vertical-align:-3px;}

/* 캘린더 색상 */
em.slot1{display:inline-block; width:15px; height:15px; border-radius:60px; vertical-align:-3px; background:#ef7476; }
em.slot2{display:inline-block; width:15px; height:15px; border-radius:60px; vertical-align:-3px; background:#ffcc71;}
em.slot3{display:inline-block; width:15px; height:15px; border-radius:60px; vertical-align:-3px; background:#70cfc7;}
em.slot4{display:inline-block; width:15px; height:15px; border-radius:60px; vertical-align:-3px; background:#54bae2;}
em.slot5{display:inline-block; width:15px; height:15px; border-radius:60px; vertical-align:-3px; background:#637aae;}
em.slot6{display:inline-block; width:15px; height:15px; border-radius:60px; vertical-align:-3px; background:#8a89cb;}

.btn_detail{display:inline-block; zoom:1; *display:inline; vertical-align:middle; width:30px; height:30px; background:url(../../images/sub_common/ico_pluse1.png) no-repeat center center; border:1px solid #e4e7ea; border-radius:20px; cursor:pointer;}
.btn_detail:hover{background:#e4e7ea url(../../images/sub_common/ico_pluse1.png) no-repeat center center; }
 
/* 버튼 */
.btn_switch {position: relative; display: inline-block; width: 36px; height: 20px;}
.btn_switch input {opacity: 0; width: 0; height: 0;}
.btn_switch .slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #fff; border:1px solid #dbdfe2; -webkit-transition: .4s; transition: .4s;}
.btn_switch .slider:before {position: absolute; content: ""; height: 12px; width: 12px; left: 3px; bottom: 3px; background-color: #dbdfe2; -webkit-transition: .4s; transition: .4s;}
.btn_switch input:checked + .slider {background-color: #2196F3;}
.btn_switch input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
.btn_switch input:checked + .slider:before {-webkit-transform: translateX(16px); -ms-transform: translateX(16px); transform: translateX(16px); background-color: #fff;}
.btn_switch .slider.round {border-radius: 20px}
.btn_switch .slider.round:before {border-radius: 50%;}


/* 타이틀 */
.sub_tit_h5{display:inline-block; zoom:1; *display:inline; padding-left:40px; background:url(../../images/sub_common/ico_sub_tit.png) no-repeat; font-size:18px; font-weight:700; color:#014096; line-height:30px; letter-spacing:-0.5px;}
.sub_tit_h6{position:relative; display:inline-block; zoom:1; *display:inline; padding-left:13px; margin-bottom:6px; font-size:15px; font-weight:500; color:#ff6666; line-height:30px; letter-spacing:-0.5px;}
.sub_tit_h6:before{display:block; position:absolute; top:13px; left:0; width:5px; height:5px; background:#014096; border-radius:5px; content:""; }

/* 사이트코드 */
.borad_area{width:32%; float:left; margin-right:1.6%;}
.borad_area .all_ad_title{position:relative; border-top:1px solid #9b9b9b; border-left:1px solid #9b9b9b; border-right:1px solid #9b9b9b; padding:5px 12px; background:#2a2a34 url(../../images/sub_common/bg_th1.png) no-repeat left bottom; height:30px;}
.borad_area .all_ad_title p.title_01{font-size:14px; font-weight:bold; color:#fff; padding-top:3px;}
.borad_area .all_ad_title p.title_02{position:absolute; top:5px; right:10px; padding-top:3px;}
.borad_area .all_ad_title p.title_02 input{width:68px; height:22px; border-top:1px solid #8bcaff; border-left:1px solid #8bcaff; border-right:1px solid #004f90; border-bottom:1px solid #004f90; font-size:11px; font-weight:bold; color:#666; background:#fff; cursor:pointer;}

/* 테이블 */
.table_ex2{width:100%; }
.table_ex2 th{background:#fff; color:#666; font-size:15px;padding:12px 10px; font-weight:600; border:1px solid #ddd; border-top:3px solid #306bbb;}
.table_ex2 td{background:#fff;  color:#333; font-size:14px;  padding:9px 10px; font-weight:normal; text-align:center; border:1px solid #ddd; font-weight:400 !important;}
.table_ex2 td *{font-weight:400;}
.table_ex2 td a{color:#575757; text-decoration:underline; font-weight:500;}
.table_ex2 td a:hover{color:#e45a58;}
.table_ex2 tr:nth-child(even) td{background:#f7f7f7;}
.table_ex2 tr:hover td{background:#e0f7fa;}
.table_ex2 p strong{color:#06b7c2; font-weight:600; display:inline-block; width:100px; }
.table_ex2 .lft_td{text-align:center;}
.table_ex2 .lft_td em{display:inline-block; width:100px; text-align:left;}

/* 등록게시물 no */
.con_empty{position:relative; display:block; width:100%; padding:15px 0;}
.con_empty .empty_txt{display:inline-block; zoom:1; *display:inline; margin:0 auto; padding-top:40px; background:url(../../images/sub_common/ico_empty01.png) no-repeat center 0; color:#666; letter-spacing:-0.75px;}

.td_empty{position:relative; display:block; width:100%; padding:15px 0;}
.td_empty .td_txt{display:inline-block; zoom:1; *display:inline; margin:0 auto; padding-top:60px; background:url(../../images/sub_common/bg_file01.png) no-repeat center 0; font-size:14px; font-weight:400; line-height:22px; color:#666; letter-spacing:-0.75px;}

/* 안내 */
.tit_info {position:relative; padding: 10px; margin: 10px 0; background: #eff1f2 ; border-radius: 5px; font-size: 14px; font-weight: 500; color: #000; line-height: 24px; }
.tit_info p {padding:0 0 0 25px; background: url(../../images/sub_common/ico_notice.png) no-repeat 0 5px;}
.tit_info p span {border-bottom: 1px solid #c88e2c; font-size:14px; color: #c88e2c; font-weight: 500;}

/* Bullets style */
.bul_ty1 li{position:relative; padding:0 0 0 15px; font-size:14px; font-weight:400; color:#666 !important; line-height:24px; letter-spacing:-0.5px; text-align:left;}
.bul_ty1 li:before{position:absolute; top:12px; left:0; display:block; content:""; width:3px; height:3px; background:#306bbb !important; }
.bul_ty1 li a{font-size:14px; font-weight:400; color:#666 !important;}