/* 기본 스타일 */
@charset "UTF-8";

.memUpsubmit, #memDeletesubmit{
	color:#fff; background:#ff6666; border: 1px solid #ff6666; border-radius: 2px; padding: 5px;
	}

#memDeletesubmit{
	margin-left: 15px;
}

.memUpsubmit:hover{
	color: #ff6666;
    background: #fff;
}
